
.dis {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    .dis p {
      width: 100px;
      height: 100px;
      font-size: 40px;
    }
    .dis .tre {
      background-color: green;
    }
    .dis .on{
      background-color: red;
    }
    .dis .to {
      background-color: blue;
    }
/* Your CSS Code here. */